<aside id="sidebar" class="ws3 hmx100 bg-light-025 d-none md:d-block">
  <nav
    arial-label="Main navigation"
    class="ps-fixed bg-light-025 t8 b0 py2 w100 md:w-auto d-flex fd-column hmx100 overflow-y-auto"
  >
    <span class="fw-500 pt2 px2">Foundations</span>
    <ul class="d-flex fd-column g1 p2 pl4">
      <li><a href="/foundation-css/">Principles and installation</a></li>
      <li><a href="/foundation-css/conditional-classes">Conditional classes</a></li>
      <li><a href="/foundation-css/sizing">Sizing concepts</a></li>
      <li><a href="/foundation-css/palette">Color palette</a></li>
    </ul>
    <span class="fw-500 pt2 px2">Components</span>
    <ul class="d-flex fd-column g1 p2 pl4">
      <li><a href="/foundation-css/backgrounds">Backgrounds</a></li>
      <li><a href="/foundation-css/borders">Borders</a></li>
      <li><a href="/foundation-css/borders-radius">Borders radius</a></li>
      <li><a href="/foundation-css/box-shadows">Box shadows</a></li>
      <li><a href="/foundation-css/box-sizing">Box sizing</a></li>
      <li><a href="/foundation-css/colors">Colors</a></li>
      <li><a href="/foundation-css/cursors">Cursors</a></li>
      <li><a href="/foundation-css/displays">Displays</a></li>
      <li><a href="/foundation-css/flexboxes">Flexboxes</a></li>
      <li><a href="/foundation-css/gaps">Gaps</a></li>
      <li><a href="/foundation-css/grids">Grids</a></li>
      <li><a href="/foundation-css/interactivity">Interactivity</a></li>
      <li><a href="/foundation-css/lists">Lists</a></li>
      <li><a href="/foundation-css/object-fit">Object fitting</a></li>
      <li><a href="/foundation-css/opacities">Opacities</a></li>
      <li><a href="/foundation-css/overflows">Overflows</a></li>
      <li><a href="/foundation-css/positions">Positioning</a></li>
      <li><a href="/foundation-css/margins-paddings">Margins & Paddings</a></li>
      <li><a href="/foundation-css/svg">SVG Icons</a></li>
      <li><a href="/foundation-css/truncates">Text truncation</a></li>
      <li><a href="/foundation-css/transitions">Transitions</a></li>
      <li><a href="/foundation-css/typographies">Typographies</a></li>
      <li><a href="/foundation-css/vertical-aligns">Vertical alignment</a></li>
      <li><a href="/foundation-css/visibility">Visibility</a></li>
      <li><a href="/foundation-css/width-height">Width &amp; Height</a></li>
      <li><a href="/foundation-css/z-indexes">Z-Indexes</a></li>
    </ul>
  </nav>
</aside>
