---
layout: base.njk
title: Backgrounds
---

<header class="d-flex fd-column g4">
  <h1>Backgrounds</h1>
  <p>Atomic classes for managing an element’s background image properties.</p>
</header>

<section>
  <h2 id="background-size">Background size</h2>
  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">CSS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><code>.bg-auto</code></th>
        <td><code>background-size: auto;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.bg-cover</code></th>
        <td><code>background-size: cover;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.bg-contain</code></th>
        <td><code>background-size: contain;</code></td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2 id="background-repeat">Background repeat</h2>
  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">CSS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><code>.bg-repeat</code></th>
        <td><code>background-repeat: repeat;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.bg-no-repeat</code></th>
        <td><code>background-repeat: no-repeat;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.bg-repeat-x</code></th>
        <td><code>background-repeat: repeat-x;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.bg-repeat-y</code></th>
        <td><code>background-repeat: repeat-y;</code></td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2 id="background-position">Background position</h2>
  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">CSS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><code>.bg-bottom</code></th>
        <td><code>background-bottom: bottom;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.bg-center</code></th>
        <td><code>background-position: center;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.bg-left</code></th>
        <td><code>background-position: left;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.bg-left-bottom</code></th>
        <td><code>background-position: left-bottom;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.bg-left-top</code></th>
        <td><code>background-position: left-top;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.bg-right</code></th>
        <td><code>background-position: right;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.bg-right-bottom</code></th>
        <td><code>background-position: right-bottom;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.bg-right-top</code></th>
        <td><code>background-position: right-top;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.bg-top</code></th>
        <td><code>background-position: top;</code></td>
      </tr>
    </tbody>
  </table>

  <!--     <aside> -->
  <!--       <h3 class="mt4">Examples</h3> -->
  <!--       <pre><code>&lt;div class="bg-no-repeat bg-center"&gt;&lt;/div&gt; -->
  <!-- &lt;div class="bg-no-repeat bg-top"&gt;&lt;/div&gt; -->
  <!-- &lt;div class="bg-no-repeat bg-bottom"&gt;&lt;/div&gt; -->
  <!-- &lt;div class="bg-no-repeat bg-left"&gt;&lt;/div&gt; -->
  <!-- &lt;div class="bg-no-repeat bg-left-bottom"&gt;&lt;/div&gt; -->
  <!-- &lt;div class="bg-no-repeat bg-left-top"&gt;&lt;/div&gt; -->
  <!-- &lt;div class="bg-no-repeat bg-right"&gt;&lt;/div&gt; -->
  <!-- &lt;div class="bg-no-repeat bg-right-bottom"&gt;&lt;/div&gt; -->
  <!-- &lt;div class="bg-no-repeat bg-right-top"&gt;&lt;/div&gt;</code></pre> -->
  <!--       <div class="preview"> --><
  <!--         <ul class="d-grid grid__3"> -->
  <!--           <li class="bg-center">.bg-center</li> -->
  <!--           <li class="bg-top">.bg-top</li> -->
  <!--           <li class="bg-bottom">.bg-bottom</li> -->
  <!--           <li class="bg-left">.bg-left</li> -->
  <!--           <li class="bg-left-bottom">.bg-left-bottom</li> -->
  <!--           <li class="bg-left-top">.bg-left-top</li> -->
  <!--           <li class="bg-right">.bg-right</li> -->
  <!--           <li class="bg-right-bottom">.bg-right-bottom</li> -->
  <!--           <li class="bg-right-top">.bg-right-top</li> -->
  <!--         </ul> -->
  <!--       </div> -->
  <!--     </aside> -->
</section>

<section>
  <h2 id="background-attachment">Background attachment</h2>
  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">CSS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><code>.bg-fixed</code></th>
        <td><code>background-attachment: fixed;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.bg-local</code></th>
        <td><code>background-attachment: local;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.bg-scroll</code></th>
        <td><code>background-attachment: scroll;</code></td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2 id="background-image">Background image and color</h2>
  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">CSS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><code>.bg-image-none</code></th>
        <td><code>background-image: none;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.bg-transparent</code></th>
        <td><code>background-color: transparent;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.bg-[color]</code></th>
        <td><code>background-color: [color];</code></td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2 id="customization">Customization</h2>
  <p>Override background variables:</p>

  <div class="bg-light-025 p4 bar-md">
    <pre><code>$backgrounds: (
  size: (auto, cover, contain),
  repeat: (repeat, no-repeat, repeat-x, repeat-y),
  position: (center, top, bottom, left, left-top, left-bottom, right, right-top, right-bottom),
  attachment: (fixed, local, scroll),
);</code></pre>
  </div>
</section>
