---
layout: base.njk
title: Gaps
---

<header class="d-flex fd-column g4">
  <h1>Gaps</h1>
  <p>Atomic classes for managing gaps between direct children in flex and grid containers.</p>
</header>

<section>
  <header class="d-flex ai-center jc-space-between pb4">
    <h2 id="classes">Classes</h2>
    <a href="#classes">🔗</a>
  </header>

  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">CSS</th>
        <th scope="col">Responsiveness</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><code>.g0</code></th>
        <td><code>gap: 0;</code></td>
        <td class="fc-green ta-center">Y</td>
      </tr>
      <tr>
        <th scope="row"><code>.g1</code></th>
        <td><code>gap: 0.25rem; /* 1 SU / 4px */</code></td>
        <td class="fc-green ta-center">Y</td>
      </tr>
      <tr>
        <th scope="row"><code>.g2</code></th>
        <td><code>gap: 0.5rem; /* 2 SU / 8px */</code></td>
        <td class="fc-green ta-center">Y</td>
      </tr>
      <tr>
        <th scope="row"><code>.g3</code></th>
        <td><code>gap: 0.75rem; /* 3 SU / 12px */</code></td>
        <td class="fc-green ta-center">Y</td>
      </tr>
      <tr>
        <th scope="row"><code>.g4</code></th>
        <td><code>gap: 1rem; /* 4 SU / 16px */</code></td>
        <td class="fc-green ta-center">Y</td>
      </tr>
      <tr>
        <th scope="row"><code>.g5</code></th>
        <td><code>gap: 1.25rem; /* 5 SU / 20px */</code></td>
        <td class="fc-green ta-center">Y</td>
      </tr>
      <tr>
        <th scope="row"><code>.g6</code></th>
        <td><code>gap: 1.5rem; /* 6 SU / 24px */</code></td>
        <td class="fc-green ta-center">Y</td>
      </tr>
      <tr>
        <th scope="row"><code>.g7</code></th>
        <td><code>gap: 2rem; /* 7 SU / 32px */</code></td>
        <td class="fc-green ta-center">Y</td>
      </tr>
      <tr>
        <th scope="row"><code>.g8</code></th>
        <td><code>gap: 2.5rem; /* 8 SU / 40px */</code></td>
        <td class="fc-green ta-center">Y</td>
      </tr>
      <tr>
        <th scope="row"><code>.g9</code></th>
        <td><code>gap: 3rem; /* 9 SU / 48px */</code></td>
        <td class="fc-green ta-center">Y</td>
      </tr>
      <tr>
        <th scope="row"><code>.g10</code></th>
        <td><code>gap: 3.5rem; /* 10 SU / 56px */</code></td>
        <td class="fc-green ta-center">Y</td>
      </tr>
      <tr>
        <th scope="row"><code>.g11</code></th>
        <td><code>gap: 4rem; /* 11 SU / 64px */</code></td>
        <td class="fc-green ta-center">Y</td>
      </tr>
      <tr>
        <th scope="row"><code>.g12</code></th>
        <td><code>gap: 4.5rem; /* 12 SU / 72px */</code></td>
        <td class="fc-green ta-center">Y</td>
      </tr>
      <tr>
        <th scope="row"><code>.g13</code></th>
        <td><code>gap: 5rem; /* 13 SU / 80px */</code></td>
        <td class="fc-green ta-center">Y</td>
      </tr>
      <tr>
        <th scope="row"><code>.g14</code></th>
        <td><code>gap: 7.5rem; /* 14 SU / 120px */</code></td>
        <td class="fc-green ta-center">Y</td>
      </tr>
      <tr>
        <th scope="row"><code>.g15</code></th>
        <td><code>gap: 10rem; /* 15 SU / 160px */</code></td>
        <td class="fc-green ta-center">Y</td>
      </tr>
      <tr>
        <th scope="row"><code>.g16</code></th>
        <td><code>gap: 12.5rem; /* 16 SU / 200px */</code></td>
        <td class="fc-green ta-center">Y</td>
      </tr>
    </tbody>
  </table>

  <aside>
    <header class="d-flex ai-center jc-space-between pt6 pb4">
      <h3 id="gap-examples">Examples</h3>
      <a href="#gap-examples">🔗</a>
    </header>
    <pre><code>&lt;div class="d-grid g0"&gt;&lt;/div&gt;
&lt;div class="d-grid g0"&gt;&lt;/div&gt;
&lt;div class="d-grid g1"&gt;&lt;/div&gt;
&lt;div class="d-grid g2"&gt;&lt;/div&gt;
&lt;div class="d-grid g3"&gt;&lt;/div&gt;
&lt;div class="d-grid g4"&gt;&lt;/div&gt;
&lt;div class="d-grid g5"&gt;&lt;/div&gt;
&lt;div class="d-grid g6"&gt;&lt;/div&gt;
&lt;div class="d-grid g7"&gt;&lt;/div&gt;
&lt;div class="d-grid g8"&gt;&lt;/div&gt;
&lt;div class="d-grid g9"&gt;&lt;/div&gt;
&lt;div class="d-grid g10"&gt;&lt;/div&gt;
&lt;div class="d-grid g11"&gt;&lt;/div&gt;
&lt;div class="d-grid g12"&gt;&lt;/div&gt;
&lt;div class="d-grid g13"&gt;&lt;/div&gt;
&lt;div class="d-grid g14"&gt;&lt;/div&gt;
&lt;div class="d-grid g15"&gt;&lt;/div&gt;
&lt;div class="d-grid g16"&gt;&lt;/div&gt;</code></pre>
    <div class="preview d-flex fd-column g4">
      <ul class="d-flex fd-column g4">
        <li class="d-grid grid__3 g0">
          <div class="bg-light">.g0</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
        </li>

        <li class="d-grid grid__3 g1 mxn4 px4 myn2 py2 bg-light-075">
          <div class="bg-light">.g1</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
        </li>

        <li class="d-grid grid__3 g2">
          <div class="bg-light">.g2</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
        </li>

        <li class="d-grid grid__3 g3 mxn4 px4 myn2 py2 bg-light-075">
          <div class="bg-light">.g3</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
        </li>

        <li class="d-grid grid__3 g4">
          <div class="bg-light">.g4</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
        </li>

        <li class="d-grid grid__3 g5 mxn4 px4 myn2 py2 bg-light-075">
          <div class="bg-light">.g5</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
        </li>

        <li class="d-grid grid__3 g6">
          <div class="bg-light">.g6</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
        </li>

        <li class="d-grid grid__3 g7 mxn4 px4 myn2 py2 bg-light-075">
          <div class="bg-light">.g7</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
        </li>

        <li class="d-grid grid__3 g8">
          <div class="bg-light">.g8</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
        </li>

        <li class="d-grid grid__3 g9 mxn4 px4 myn2 py2 bg-light-075">
          <div class="bg-light">.g9</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
        </li>

        <li class="d-grid grid__3 g10">
          <div class="bg-light">.g10</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
        </li>

        <li class="d-grid grid__3 g11 mxn4 px4 myn2 py2 bg-light-075">
          <div class="bg-light">.g11</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
        </li>
        <li class="d-grid grid__3 g12">
          <div class="bg-light">.g12</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
        </li>

        <li class="d-grid grid__3 g13 mxn4 px4 myn2 py2 bg-light-075">
          <div class="bg-light">.g13</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
        </li>

        <li class="d-grid grid__3 g14">
          <div class="bg-light">.g14</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
        </li>

        <li class="d-grid grid__3 g15 mxn4 px4 myn2 py2 bg-light-075">
          <div class="bg-light">.g15</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
        </li>

        <li class="d-grid grid__3 g16">
          <div class="bg-light">.g16</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
          <div class="bg-light">&nbsp;</div>
        </li>
      </ul>
    </div>
  </aside>
</section>
