@use "../src/index";
@use "./normalize";

header {
  a, a:hover { text-decoration: none; }
}

aside nav {
  ul li a {
    color: var(--light-900);
    transition: all 0.2s;
  }
  ul li a:hover {
    color: var(--green);
  }
}

section {
  padding: 1.5rem;
  border: 2px solid var(--light-075);
  border-radius: 8px;
}

h2, h3 {
  color: var(--green);
  margin: 0;
}

a {
  color: var(--green);
  &:hover {
    text-decoration: underline;
  }
}

table {
  border-spacing: 0;
  text-align: left;
  thead th {
    border-bottom: 1px solid var(--light-500);
  }
  th, td { padding: 8px; }
  th {
    font-weight: 700;
  }
}

code {
  padding: 4px 8px;
  background: var(--light-050);
  font-size: 0.875rem;
  border-radius: 3px;
}

pre, .preview {
  background: var(--light-050);
  padding: 1rem;
  border-radius: 5px;
  overflow-x: auto;
}

pre code {
  padding:0;
  background: transparent;
}

figure,
blockquote {
  margin: 0;
}

iframe {
  border: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  @extend .fs-canon;
}

h2 {
  @extend .fs-trafalgar;
}

h3 {
  @extend .fs-paragon;
}

h4 {
  @extend .fs-double-pica;
}

h5,
h6 {
  @extend .fs-great-primer;
}

h6,
em,
q {
  font-style: italic;
}

q {
  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

body,
p {
  @extend .fs-body-copy;
}

strong {
  font-weight: 600;
}

u {
  text-decoration: underline;
}

strike {
  text-decoration: line-through;
}

abbr {
  text-decoration: underline dotted;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

button {
  border: 0;
  background: transparent;
  padding: 0;
  color: inherit;
}
