---
layout: base.njk
title: Typographies
---

<header class="d-flex fd-column g4">
  <h1>Typographies</h1>
  <p>Atomic classes for managing an element’s typography styling.</p>
</header>

<section>
  <header class="d-flex ai-center jc-space-between pb4">
    <h2 id="basics">Font-style</h2>
    <a href="#font-style">🔗</a>
  </header>
  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">CSS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><code>.fs-normal</code></th>
        <td><code>font-style: normal;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.fs-italic</code></th>
        <td><code>font-style: italic;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.fs-unset</code></th>
        <td><code>font-style: unset;</code></td>
      </tr>
    </tbody>
  </table>

  <aside>
    <header class="d-flex ai-center jc-space-between pt6 pb4">
      <h3 id="font-style-examples">Examples</h3>
      <a href="#font-style-examples">🔗</a>
    </header>

    <pre><code>&lt;p class="fs-normal"&gt;&lt;/p&gt;
&lt;p class="fs-italic"&gt;&lt;/p&gt;
&lt;p class="fs-unset"&gt;&lt;/p&gt;</code></pre>

    <div class="preview">
      <p class="fs-normal">.fs-normal</p>
      <p class="fs-italic">.fs-italic</p>
      <p class="fs-unset">.fs-unset</p>
    </div>
  </aside>
</section>

<section>
  <header class="d-flex ai-center jc-space-between pb4">
    <h2 id="basics">Text-transform</h2>
    <a href="#text-transform">🔗</a>
  </header>
  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">CSS</th>
      </tr>
    </thead>
    <tbody>
      capitalize, lowercase, uppercase, none, unset
      <tr>
        <th scope="row"><code>.tt-capitalize</code></th>
        <td><code>text-transform: capitalize;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.tt-lowercase</code></th>
        <td><code>text-transform: lowercase;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.tt-uppercase</code></th>
        <td><code>text-transform: uppercase;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.tt-none</code></th>
        <td><code>text-transform: none;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.tt-unset</code></th>
        <td><code>text-transform: unset;</code></td>
      </tr>
    </tbody>
  </table>

  <aside>
    <header class="d-flex ai-center jc-space-between pt6 pb4">
      <h3 id="text-transform-examples">Examples</h3>
      <a href="#text-transform-examples">🔗</a>
    </header>

    <pre><code>&lt;p class="tt-capitalize"&gt;&lt;/p&gt;
&lt;p class="tt-lowercase"&gt;&lt;/p&gt;
&lt;p class="tt-uppercase"&gt;&lt;/p&gt;
&lt;p class="tt-none"&gt;&lt;/p&gt;
&lt;p class="tt-unset"&gt;&lt;/p&gt;</code></pre>

    <div class="preview">
      <p class="tt-capitalize">.tt-capitalize - Hello World</p>
      <p class="tt-lowercase">.tt-lowercase - Hello World</p>
      <p class="tt-uppercase">.tt-uppercase - Hello World</p>
      <p class="tt-none">.tt-none - Hello World</p>
      <p class="tt-unset">.tt-unset - Hello World</p>
    </div>
  </aside>
</section>

<section>
  <header class="d-flex ai-center jc-space-between pb4">
    <h2 id="basics">Text-decoration</h2>
    <a href="#text-decoration">🔗</a>
  </header>
  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">CSS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><code>.td-none</code></th>
        <td><code>text-decoration: none;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.td-underline</code></th>
        <td><code>text-decoration: underline;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.td-line-through</code></th>
        <td><code>text-decoration: line-through;</code></td>
      </tr>
    </tbody>
  </table>

  <aside>
    <header class="d-flex ai-center jc-space-between pt6 pb4">
      <h3 id="text-decoration-examples">Examples</h3>
      <a href="#text-decoration-examples">🔗</a>
    </header>

    <pre><code>&lt;p class="td-none"&gt;&lt;/p&gt;
&lt;p class="td-underline"&gt;&lt;/p&gt;
&lt;p class="td-line-through"&gt;&lt;/p&gt;</code></pre>

    <div class="preview">
      <p class="td-none">.td-none - Hello World</p>
      <p class="td-underline">.td-underline - Hello World</p>
      <p class="td-line-through">.td-line-through - Hello World</p>
    </div>
  </aside>
</section>

<section>
  <header class="d-flex ai-center jc-space-between pb4">
    <h2 id="basics">Font-weight</h2>
    <a href="#font-weight">🔗</a>
  </header>
  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">CSS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><code>.fw-300e</code></th>
        <td><code>font-weight: 300;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.fw-400</code></th>
        <td><code>font-weight: 400;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.fw-500</code></th>
        <td><code>font-weight: 500;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.fw-600</code></th>
        <td><code>font-weight: 600;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.fw-700</code></th>
        <td><code>font-weight: 700;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.fw-800</code></th>
        <td><code>font-weight: 800;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.fw-900</code></th>
        <td><code>font-weight: 900;</code></td>
      </tr>
    </tbody>
  </table>

  <aside>
    <header class="d-flex ai-center jc-space-between pt6 pb4">
      <h3 id="font-weight-examples">Examples</h3>
      <a href="#font-weight-examples">🔗</a>
    </header>

    <pre><code>&lt;p class="fw-300"&gt;&lt;/p&gt;
&lt;p class="fw-400"&gt;&lt;/p&gt;
&lt;p class="fw-500"&gt;&lt;/p&gt;
&lt;p class="fw-600"&gt;&lt;/p&gt;
&lt;p class="fw-700"&gt;&lt;/p&gt;
&lt;p class="fw-800"&gt;&lt;/p&gt;
&lt;p class="fw-900"&gt;&lt;/p&gt;</code></pre>

    <div class="preview">
      <p class="fw-300">.fw-300</p>
      <p class="fw-400">.fw-400</p>
      <p class="fw-500">.fw-500</p>
      <p class="fw-600">.fw-600</p>
      <p class="fw-700">.fw-700</p>
      <p class="fw-800">.fw-800</p>
      <p class="fw-900">.fw-900</p>
    </div>
  </aside>
</section>

<section>
  <header class="d-flex ai-center jc-space-between pb4">
    <h2 id="basics">Text-align</h2>
    <a href="#text-align">🔗</a>
  </header>
  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">CSS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><code>.ta-left</code></th>
        <td><code>text-align: left;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.ta-center</code></th>
        <td><code>text-align: center;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.ta-right</code></th>
        <td><code>text-align: right;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.ta-justify</code></th>
        <td><code>text-align: justify;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.ta-unset</code></th>
        <td><code>text-align: unset;</code></td>
      </tr>
    </tbody>
  </table>

  <aside>
    <header class="d-flex ai-center jc-space-between pt6 pb4">
      <h3 id="text-align-examples">Examples</h3>
      <a href="#text-align-examples">🔗</a>
    </header>

    <pre><code>&lt;p class="ta-left"&gt;&lt;/p&gt;
&lt;p class="ta-center"&gt;&lt;/p&gt;
&lt;p class="ta-right"&gt;&lt;/p&gt;
&lt;p class="ta-justify"&gt;&lt;/p&gt;
&lt;p class="ta-unset"&gt;&lt;/p&gt;</code></pre>

    <div class="preview">
      <p class="ta-left">.ta-left</p>
      <p class="ta-center">.ta-center</p>
      <p class="ta-right">.ta-right</p>
      <p class="ta-justify">
        .ta-justify - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <p class="ta-unset">.ta-unset</p>
    </div>
  </aside>
</section>

<section>
  <header class="d-flex ai-center jc-space-between pb4">
    <h2 id="basics">font-size</h2>
    <a href="#font-size">🔗</a>
  </header>
  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">Usage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><code>.fs-canon</code></th>
        <td>Hero or blog post title</td>
      </tr>
      <tr>
        <th scope="row"><code>.fs-trafalgar</code></th>
        <td>Article title or section header</td>
      </tr>
      <tr>
        <th scope="row"><code>.fs-paragon</code></th>
        <td>Primary headline on indexes</td>
      </tr>
      <tr>
        <th scope="row"><code>.fs-double-pica</code></th>
        <td>Sub header</td>
      </tr>
      <tr>
        <th scope="row"><code>.fs-great-primer</code></th>
        <td>Headline title or subtitle</td>
      </tr>
      <tr>
        <th scope="row"><code>.fs-body-copy</code></th>
        <td>Article body copy only</td>
      </tr>
      <tr>
        <th scope="row"><code>.fs-pica</code></th>
        <td>Index links, titles & headlines</td>
      </tr>
      <tr>
        <th scope="row"><code>.fs-long-primer</code></th>
        <td>Index body copy & image captions</td>
      </tr>
      <tr>
        <th scope="row"><code>.fs-brevier</code></th>
        <td>Time stamps and bylines</td>
      </tr>
      <tr>
        <th scope="row"><code>.fs-minion</code></th>
        <td>Small header capitals</td>
      </tr>
    </tbody>
  </table>

  <header class="d-flex ai-elephant jc-space-between pt6 pb4">
    <h3 id="font-size-additional">Additional sizes for larger contexts</h3>
    <a href="#font-size-additional">🔗</a>
  </header>

  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">Usage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><code>.fs-atlas</code></th>
        <td>Hero headlines, large display text</td>
      </tr>
      <tr>
        <th scope="row"><code>.fs-elephant</code></th>
        <td>Large headlines, feature titles</td>
      </tr>
      <tr>
        <th scope="row"><code>.fs-imperial</code></th>
        <td>Major section headers</td>
      </tr>
      <tr>
        <th scope="row"><code>.fs-royal</code></th>
        <td>Page titles, important headings</td>
      </tr>
      <tr>
        <th scope="row"><code>.fs-foolscap</code></th>
        <td>Subsection headers</td>
      </tr>
    </tbody>
  </table>

  <aside>
    <header class="d-flex ai-elephant jc-space-between pt6 pb4">
      <h3 id="font-size-examples">Examples</h3>
      <a href="#font-size-examples">🔗</a>
    </header>

    <pre><code>&lt;p class="fs-atlas"&gt;&lt;/p&gt;
&lt;p class="fs-elephant"&gt;&lt;/p&gt;
&lt;p class="fs-imperial"&gt;&lt;/p&gt;
&lt;p class="fs-royal"&gt;&lt;/p&gt;
&lt;p class="fs-foolscap"&gt;&lt;/p&gt;
&lt;p class="fs-canon"&gt;&lt;/p&gt;
&lt;p class="fs-trafalgar"&gt;&lt;/p&gt;
&lt;p class="fs-paragon"&gt;&lt;/p&gt;
&lt;p class="fs-double-pica"&gt;&lt;/p&gt;
&lt;p class="fs-great-primer"&gt;&lt;/p&gt;
&lt;p class="fs-body-copy"&gt;&lt;/p&gt;
&lt;p class="fs-pica"&gt;&lt;/p&gt;
&lt;p class="fs-long-primer"&gt;&lt;/p&gt;
&lt;p class="fs-brevier"&gt;&lt;/p&gt;
&lt;p class="fs-minion"&gt;&lt;/p&gt;</code></pre>

    <div class="preview">
      <p class="fs-atlas">.fs-atlas</p>
      <p class="fs-elephant">.fs-elephant</p>
      <p class="fs-imperial">.fs-imperial</p>
      <p class="fs-royal">.fs-royal</p>
      <p class="fs-foolscap">.fs-foolscap</p>
      <p class="fs-canon">.fs-canon</p>
      <p class="fs-trafalgar">.fs-trafalgar</p>
      <p class="fs-paragon">.fs-paragon</p>
      <p class="fs-double-pica">.fs-double-pica</p>
      <p class="fs-great-primer">.fs-great-primer</p>
      <p class="fs-body-copy">.fs-body-copy</p>
      <p class="fs-pica">.fs-pica</p>
      <p class="fs-long-primer">.fs-long-primer</p>
      <p class="fs-brevier">.fs-brevier</p>
      <p class="fs-minion tt-uppercase">.fs-minion</p>
    </div>
  </aside>
</section>

<section>
  <header class="d-flex ai-center jc-space-between pb4">
    <h2 id="basics">White-space</h2>
    <a href="#white-space">🔗</a>
  </header>
  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">CSS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><code>.ws-normal</code></th>
        <td><code>white-space: normal;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.ws-nowrap</code></th>
        <td><code>white-space: nowrap;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.ws-pre</code></th>
        <td><code>white-space: pre;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.ws-pre-wrap</code></th>
        <td><code>white-space: pre-wrap;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.ws-pre-line</code></th>
        <td><code>white-space: pre-line;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.ws-unset</code></th>
        <td><code>white-space: unset;</code></td>
      </tr>
    </tbody>
  </table>

  <aside>
    <header class="d-flex ai-nowrap jc-space-between pt6 pb4">
      <h3 id="white-space-examples">Examples</h3>
      <a href="#white-space-examples">🔗</a>
    </header>

    <pre><code>&lt;p class="ws-normal"&gt;&lt;/p&gt;
&lt;p class="ws-nowrap"&gt;&lt;/p&gt;
&lt;p class="ws-pre"&gt;&lt;/p&gt;
&lt;p class="ws-pre-wrap"&gt;&lt;/p&gt;
&lt;p class="ws-pre-line"&gt;&lt;/p&gt;
&lt;p class="ws-unset"&gt;&lt;/p&gt;</code></pre>
  </aside>
</section>

<section>
  <header class="d-flex ai-center jc-space-between pb4">
    <h2 id="basics">Word-break</h2>
    <a href="#word-break">🔗</a>
  </header>
  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">CSS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><code>.wb-normal</code></th>
        <td><code>word-break: normal;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.wb-break-all</code></th>
        <td><code>word-break: break-all;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.wb-keep-all</code></th>
        <td><code>word-break: pre;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.wb-inherit</code></th>
        <td><code>word-break: inherit;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.wb-initial</code></th>
        <td><code>word-break: initial;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.wb-unset</code></th>
        <td><code>word-break: unset;</code></td>
      </tr>
    </tbody>
  </table>

  <aside>
    <header class="d-flex ai-break-all jc-space-between pt6 pb4">
      <h3 id="word-break-examples">Examples</h3>
      <a href="#word-break-examples">🔗</a>
    </header>

    <pre><code>&lt;p class="wb-normal"&gt;&lt;/p&gt;
&lt;p class="wb-break-all"&gt;&lt;/p&gt;
&lt;p class="wb-keep-all"&gt;&lt;/p&gt;
&lt;p class="wb-inherit"&gt;&lt;/p&gt;
&lt;p class="wb-initial"&gt;&lt;/p&gt;
&lt;p class="wb-unset"&gt;&lt;/p&gt;</code></pre>
  </aside>
</section>

<section>
  <header class="d-flex ai-center jc-space-between pb4">
    <h2 id="basics">Overflow-wrap</h2>
    <a href="#overflow-wrap">🔗</a>
  </header>
  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">CSS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><code>.ow-normal</code></th>
        <td><code>overflow-wrap: normal;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.ow-break-word</code></th>
        <td><code>overflow-wrap: break-word;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.ow-inherit</code></th>
        <td><code>overflow-wrap: inherit;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.ow-initial</code></th>
        <td><code>overflow-wrap: initial;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.ow-unset</code></th>
        <td><code>overflow-wrap: unset;</code></td>
      </tr>
    </tbody>
  </table>

  <aside>
    <header class="d-flex ai-break-word jc-space-between pt6 pb4">
      <h3 id="overflow-wrap-examples">Examples</h3>
      <a href="#overflow-wrap-examples">🔗</a>
    </header>

    <pre><code>&lt;p class="ow-normal"&gt;&lt;/p&gt;
&lt;p class="ow-break-word"&gt;&lt;/p&gt;
&lt;p class="ow-inherit"&gt;&lt;/p&gt;
&lt;p class="ow-initial"&gt;&lt;/p&gt;
&lt;p class="ow-unset"&gt;&lt;/p&gt;</code></pre>
  </aside>
</section>

<section>
  <header class="d-flex ai-center jc-space-between pb4">
    <h2 id="basics">Word-wraps</h2>
    <a href="#word-wraps">🔗</a>
  </header>
  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">CSS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><code>.ww-break-word</code></th>
        <td><code>word-wraps: break-word;</code></td>
      </tr>
    </tbody>
  </table>

  <aside>
    <header class="d-flex ai-break-word jc-space-between pt6 pb4">
      <h3 id="word-wraps-examples">Examples</h3>
      <a href="#word-wraps-examples">🔗</a>
    </header>

    <pre><code>&lt;p class="ww-break-word"&gt;&lt;/p&gt;</code></pre>
  </aside>
</section>

<section>
  <header class="d-flex ai-center jc-space-between pb4">
    <h2 id="basics">Hyphens</h2>
    <a href="#hyphens">🔗</a>
  </header>
  <table class="w100">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">CSS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        none, auto, unset
        <th scope="row"><code>.hyphens-normal</code></th>
        <td><code>hyphens: normal;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.hyphens-auto</code></th>
        <td><code>hyphens: auto;</code></td>
      </tr>
      <tr>
        <th scope="row"><code>.hyphens-unset</code></th>
        <td><code>hyphens: unset;</code></td>
      </tr>
    </tbody>
  </table>

  <aside>
    <header class="d-flex ai-auto jc-space-between pt6 pb4">
      <h3 id="hyphens-examples">Examples</h3>
      <a href="#hyphens-examples">🔗</a>
    </header>

    <pre><code>&lt;p class="hyphens-none"&gt;&lt;/p&gt;
&lt;p class="hyphens-auto"&gt;&lt;/p&gt;
&lt;p class="hyphens-unset"&gt;&lt;/p&gt;</code></pre>
  </aside>
</section>

<section>
  <h2 id="customization">Customization</h2>
  <p>Override typography variables:</p>

  <div class="bg-light-025 p4 bar-md">
    <pre><code>$font-families: (
  sans: (system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "Liberation Sans", sans-serif),
  mono: ("SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", "Courier", monospace),
);
$base-font-size: 16px;
$font-sizes: atlas, elephant, imperial, royal, foolscap, canon, trafalgar, paragon, double-pica, great-primer, body-copy, pica, long-primer, brevier, minion;
$font-weights: 300, 400, 500, 600, 700, 800, 900;
$font-styles: normal, italic, unset;
$text-aligns: left, center, right, justify, unset;
$text-decorations: none, underline, line-through;
$text-transforms: capitalize, lowercase, uppercase, none, unset;
$white-spaces: normal, nowrap, pre, pre-wrap, pre-line, unset;
$word-breaks: normal, break-all, keep-all, inherit, initial, unset;
$overflow-wraps: normal, break-word, inherit, initial, unset;
$word-wraps: break-word;
$hyphens: none, auto, unset;</code></pre>
  </div>
</section>
