@use "normalize";
@forward "./functions/forge";
@forward "./atomic/breakpoints";
@forward "./atomic/palettes";
@forward "./atomic/backgrounds";
@forward "./atomic/borders";
@forward "./atomic/box-sizing";
@forward "./atomic/box-shadows";
@forward "./atomic/colors";
@forward "./atomic/cursors";
@forward "./atomic/displays";
@forward "./atomic/flexboxes";
@forward "./atomic/grid";
@forward "./atomic/interactivity";
@forward "./atomic/links";
@forward "./atomic/object-fit";
@forward "./atomic/opacities";
@forward "./atomic/overflow";
@forward "./atomic/positions";
@forward "./atomic/lists";
@forward "./atomic/spacing-units";
@forward "./atomic/svg";
@forward "./atomic/transitions";
@forward "./atomic/truncates";
@forward "./atomic/typographies";
@forward "./atomic/vertical-aligns";
@forward "./atomic/visibility";
@forward "./atomic/width-height";
@forward "./atomic/z-indexes";

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  @extend .fs-canon;
}

h2 {
  @extend .fs-trafalgar;
}

h3 {
  @extend .fs-paragon;
}

h4 {
  @extend .fs-double-pica;
}

h5,
h6 {
  @extend .fs-great-primer;
}

h6,
em,
q {
  font-style: italic;
}

q {
  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

body,
p {
  @extend .fs-body-copy;
}

strong {
  font-weight: 600;
}

u {
  text-decoraiton: underline;
}

strike {
  text-decoraiton: line-through;
}

abbr {
  text-decoration: underline dotted;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

button {
  border: 0;
  background: transparent;
  padding: 0;
  color: inherit;
}
